.header{
  width: 100%;
  height: 85vh;
  background-color: #e9d5a1; 
}


.header-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 50px;
}
.header p {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.details{
  margin-bottom: 20px;
}
.details .font{
  font-size: 24px;
  font-weight: 100;
  display: block;
}
.github{
  width: 24px !important;
  height: 24px !important;
  margin-left: 10px;
  cursor: pointer;
}