.header-nav {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 10px 10%;
  /* background-color: #1f1f1f; */
  justify-content: space-between;
  align-items: center !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;

  z-index: 3;
  border-bottom: 2px solid;
}

.btn {
  border: none;
  padding: 10px;
  font-size: 16px;
  position: relative;
  margin-right: 10px;
}
.btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btn:hover::before {
  background: black;
  width: 100%;
}

.dialog-button {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 12px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: unset;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.disabled {
  background-color: black;
}
